In [1]:
import pandas as pd
import math
import time
start = time.clock()

df = pd.read_excel('zhangwu.xlsx').drop(columns = ['Unnamed: 0'])

df

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: DeprecationWarning: time.clock has been deprecated in Python 3.3 and will be removed from Python 3.8: use time.perf_counter or time.process_time instead
  after removing the cwd from sys.path.

             Date  HrMn  Dir  Spd  Temp  Dewpt     Slp  Dir.1  Spd.1
0      1973-01-01     0  320  4.0 -11.0  -21.0  1020.2  320.0    4.0
1      1973-01-01   300    0  0.0  -8.0  -25.0  1021.6    NaN    NaN
2      1973-01-01   600  340  7.0  -7.0  -25.0  1020.5  340.0    7.0
3      1973-01-01   900  320  1.0  -9.0  -27.0  1021.1  320.0    1.0
4      1973-01-01  1500  340  5.0 -15.0  -27.0  1023.7  340.0    5.0
...           ...   ...  ...  ...   ...    ...     ...    ...    ...
135921 2020-01-01   900   80  1.7 -12.7  -20.4  1033.1   80.0    1.7
135922 2020-01-01  1200  219  1.0 -15.9  -20.3  1033.2  219.0    1.0
135923 2020-01-01  1500   19  1.3 -19.8  -22.7  1033.1   19.0    1.3
135924 2020-01-01  1800  351  1.1 -19.2  -22.4  1031.7  351.0    1.1
135925 2020-01-01  2100  306  1.1 -19.4  -22.1  1031.2  306.0    1.1

[135926 rows x 9 columns]

In [2]:
df['Date'] = pd.to_datetime(df['Date'], format = '%Y-%m-%d')
df['month'] = df['Date'].apply(lambda x : x.strftime('%m'))
df = df.sort_values(by=['month','Date'])

df['x'] = df.apply(lambda x: math.sin(x['Dir']) * x['Spd'], axis=1)
df['y'] = df.apply(lambda x: math.cos(x['Dir']) * x['Spd'], axis=1)
df['wind_energy'] = df.apply(lambda x: 0.5 * 1.225 * math.pow(x['Spd'],2), axis=1)

dfs = df.describe(include='all')

df['Date'] = df['Date'].apply(lambda x : x.strftime('%Y-%m-%d')).apply(str)

df1 = df.loc[df['month'] == '01'].drop(columns = ['month'])
df2 = df.loc[df['month'] == '02'].drop(columns = ['month'])
df3 = df.loc[df['month'] == '03'].drop(columns = ['month'])
df4 = df.loc[df['month'] == '04'].drop(columns = ['month'])
df5 = df.loc[df['month'] == '05'].drop(columns = ['month'])
df6 = df.loc[df['month'] == '06'].drop(columns = ['month'])
df7 = df.loc[df['month'] == '07'].drop(columns = ['month'])
df8 = df.loc[df['month'] == '08'].drop(columns = ['month'])
df9 = df.loc[df['month'] == '09'].drop(columns = ['month'])
df10 = df.loc[df['month'] == '10'].drop(columns = ['month'])
df11 = df.loc[df['month'] == '11'].drop(columns = ['month'])
df12 = df.loc[df['month'] == '12'].drop(columns = ['month'])
dfmerge1 = pd.concat([df3,df4,df5,df6,df7])
dfmerge2 = pd.concat([df1,df2,df8,df9,df10,df11,df12])

print ("processing complete")

process down

In [3]:
with pd.ExcelWriter('zhangwu_wind_output_1.xlsx') as writer: 
    dfs.to_excel(writer, sheet_name='summary')
    df.drop(columns = ['month']).to_excel(writer, sheet_name='00',index=None)
    df1.to_excel(writer, sheet_name='01', index=None)
    df2.to_excel(writer, sheet_name='02', index=None)
    df3.to_excel(writer, sheet_name='03', index=None)
    df4.to_excel(writer, sheet_name='04', index=None)
    df5.to_excel(writer, sheet_name='05', index=None)
    df6.to_excel(writer, sheet_name='06', index=None)
    df7.to_excel(writer, sheet_name='07', index=None)
    df8.to_excel(writer, sheet_name='08', index=None)
    df9.to_excel(writer, sheet_name='09', index=None)
    df10.to_excel(writer, sheet_name='10', index=None)
    df11.to_excel(writer, sheet_name='11', index=None)
    df12.to_excel(writer, sheet_name='12', index=None)
    dfmerge1.to_excel(writer, sheet_name='3-7', index=None)
    dfmerge2.to_excel(writer, sheet_name='8-2', index=None)
    
print ("write over")

write over

In [4]:
end = time.clock()
print('Running time: %s Seconds'%(end-start))

Running time: 108.27698020000001 Seconds

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning: time.clock has been deprecated in Python 3.3 and will be removed from Python 3.8: use time.perf_counter or time.process_time instead
  """Entry point for launching an IPython kernel.